<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://github.com/downtimes" version="1.0.0" viewmodes="fullscreen">
    <tizen:profile name="tv-samsung" />  
    <tizen:setting pointing-device-support="enable" />
    <tizen:setting accelerated-2d-canvas="enable" />
       
    <feature name="http://tizen.org/feature/screen.size.all" />
    <name>MoonlightTizenOld</name>
    <description>Attempted Moonlight port for old Samsung tvs</description>
    <tizen:application id="LKHNeeyxfp.MoonlightTizenOld" package="LKHNeeyxfp" required_version="3.0" />
    <content src="index.html" />
    <icon src="icons/icon128.png" />

	<tizen:privilege name="http://tizen.org/privilege/filesystem.write" />
	<tizen:privilege name="http://tizen.org/privilege/filesystem.read" />
	<tizen:privilege name="http://tizen.org/privilege/internet" />
	<tizen:privilege name="http://tizen.org/privilege/tv.audio" />
	<tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
	<tizen:privilege name="http://tizen.org/privilege/unlimitedstorage" />
</widget>